:root {
  --maxw: 1100px;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family:
    system-ui,
    -apple-system,
    Segoe UI,
    Roboto,
    Arial,
    sans-serif;
}
main {
  margin: 0 auto;
  max-width: var(--maxw);
}
